.ourResult-chooseProgram
    .ourResult-chooseProgram__ourResult
        .container
            h2 НАШ РЕЗУЛЬТАТ
    img.ourResult-chooseProgram__bg-img(src='images/sections/ourResult-chooseProgram/img.webp')