section.prescreen
    .container
        .prescreen__block-text
            h1.prescreen__title 
                | Хочешь запустить свой стартап? 
                | <br>Университет поможет!
            p.prescreen__text 
                |Стартап-акселератор – это форма поддержки
                |создаваемых студентами проектов и стартапов,
                |на базе Технопарка Державинского университета. 
                |Мы помогаем правильно создать и развить задуманный
                |проект в кратчайшие сроки. Даже если ты считаешь, что у тебя нет  идеи - не беда.
                |На наших мероприятиях студенты придумывают проекты на раз-два! 
            button.prescreen__btn
                | ХОЧУ СТАТЬ ФАУНДЕРОМ
        img.prescreen__rocket-img
    img(src="images/sections/prescreen/prescreen_bot-wave.webp").prescreen__bottom-wave