header.header
    .container
        .header__logos
            a(href="#")
                img(src='images/template/header/TSUTBM_LOGO.webp')
            a(href="#")
                img(src='images/template/header/acc_logo.webp')
        +nav().header__nav
        a.header__button СТАТЬ ФАУНДЕРАМИ
