extends ../../template/layout.pug

block content
	include ../../sections/prescreen/prescreen.pug
	include ../../sections/whatIsAnAccelerator/whatIsAnAccelerator
	include ../../sections/ourResult-chooseProgram/ourResult-chooseProgram
	script(src='scripts/main.bundle.js')
