section.whatIsAnAccelerator
    .container
        img.whatIsAnAcceleratorImg(src='images/sections/whatIsAnAccelerator/img.webp')
        .whatIsAnAccelerator__info
            h2 Что такое Акселератор?
            p
                | Мы – структурное подразделение
                | Технопарка «Державинский».
                | <br>
                | <br>
                | Твоя площадка для самореализации
                | и запуска инновационных проектов.
                | <br>
                | <br>
                | Хочешь развиваться и ищешь
                | команду единомышленников?
                | <br>
                | <br>
                | Тогда тебе к нам!
    //img.whatIsAnAccelerator__bg-img(src='images/sections/whatIsAnAccelerator/Slice 1.webp')